#calculator {
    position: relative; 
    top:100px;
    left:40%;
}

body {

    background:linear-gradient(to right, red, blue);
}

.button_9 {

    width:50px;
    height:50px;
}

.design{

    width:300px;
    height:50px;
}

.button_equal {

    width:50px;
    height:100px;
}

.button_0 {

    width:106px;
    height:50px;

}